extends layout

block content

  .row.jumbotron.jumbotronHome
    .container.backColor
      h1 Medx Live
      p.lead Leadership, Innovation, ValuE
      p 打造台灣未來醫療科技CEO人才計劃
  .container
    .row.fourHeading
      .profile-tabs#fourWe
        .nav-tabs-navigation
          .nav-tabs-wrapper
            ul.nav.nav-pills.nav-justified.default-color#tabs(data-tabs="tabs")
              li.active
                a(href="#first" data-toggle="tab")
                  h4 WHAT we do
              li
                a(href="#second" data-toggle="tab")
                  h4 WHO we are
              li
                a(href="#third" data-toggle="tab")
                  h4 WHY we do it
              li
                a(href="#fourth" data-toggle="tab")
                  h4 HOW we do it
        #fourWe-content.tab-content
            #first.tab-pane.active
              .row
                .col-xs-12
                  h4 Train and cultivate future executives for medtech startups.
            #second.tab-pane
              .row
                .col-xs-12
                  h4 At MEDx LIVE Taipei, we focus on
                    br
                    ul
                      li
                        h4 Leadership
                      li
                        h4 Innovation
                      li
                        h4 Value
            #third.tab-pane
              .row
                .col-xs-12
                  h4 The purpose of MEDx LIVE Taipei is to:
                    br
                    ul
                      li
                        h4 Provide a platform for entrepreneurs to network and exchange ideas
                      li
                        h4 Create opportunities for people to express their creativity
            #fourth.tab-pane
              .row
                .col-xs-12
                  h4 We offer project-based executive training which encourages our fellows to refine their skills through learning-by-doing. 

      
    //- hr
    .row
      .col-sm-8
        .page-header
          h3 Announcements
        each val in nArticles
          .homeAnn.col-sm-12
            .col-sm-6
              h3 #{val.title}
              p.homeAnnContent #{val.content}
              .homeSubTag 
                i.fa.fa-user  #{val.author}
              .homeSubTag
                i.fa.fa-clock-o  #{val.timestamp}
              p 
                a.btn.btn-default(href='announcements/\##{val.timestamp}', role='button') View details » 
              p  

            .col-sm-offset-1.col-sm-5
              if val.picture
                a(href='announcements/\##{val.timestamp}').hollowPic(style='background: url(\'#{val.picture}\') no-repeat;background-size: auto 100%; background-position: 30% 0; border-radius: 5px;')
                //- img(src='#{val.picture}', height='200px')
              //- else
                //- .hollowPic 
          .col-sm-12
            hr
        
      .col-sm-4
        .page-header
          h3 Sharing
        each val in nShares
          .homeSha
            h4 #{val.title}
            p #{val.description}
            .homeSubTag 
              i.fa.fa-user  #{val.upload_user}
            .homeSubTag
              i.fa.fa-clock-o  #{val.timestamp}
            p 
              a.btn.btn-default(href='sharing/#{val.type}/\##{val.timestamp}', role='button') View details »
            hr