extends layoutGray

block content
  .container.containerIntro
    .row
      .col-sm-3
        if thisProfile.picture
          img.propic(src="/uploadPImg/#{thisProfile.picture}", alt='')
        else
          img.propic(src='/img/default_profile.png')
        //- photo end
      .col-sm-9
        .cv-title
          .row
            .col-sm-7
              h1 #{thisProfile.name}
            |                         
            .col-sm-5.text-right.dl-share
              //- AddToAny BEGIN
              //- a.a2a_dd.btn.btn-default(href='')
              //-   span.fa.fa-share
              //-   |  Share
              //- |                             
              //- script(type='text/javascript').
              //-   var a2a_config = a2a_config || {};
              //-   a2a_config.linkname = "Minimal CV by EvenFly";
              //-   a2a_config.num_services = 6;
              //-   a2a_config.prioritize = ["facebook", "twitter", "google_plus", "linkedin", "pinterest", "email"];
              //- |                             
              //- script(type='text/javascript', src='//static.addtoany.com/menu/page.js')
              //- AddToAny END
              if thisProfile.facebook
                a.btn.btn-success(href='https://www.facebook.com/#{thisProfile.facebook}')
                  span.fa.fa-comment
                  |  FB Message
              else
                a.btn.btn-success.disabled(href='', alt='Facebook Account Not Available.')
                  span.fa.fa-comment
                  |  FB Message
          |                     
          h2 #{thisProfile.job}

        //- Title end
        //-
          ===========================
          SOCIAL & CONTACT
          ============================
        .row
          .col-sm-4
            ul.list-unstyled
              li
                if thisProfile.website
                  a(href='#{thisProfile.website}')
                    span.social.fa.fa-home
                    | My Website
                else
                  span.social.fa.fa-home
                    |   My Website
              |                                                    
              li
                if thisProfile.email
                  a(href='mailto:#{thisProfile.email}')
                    span.social.fa.fa-envelope-o
                    | My E-mail
                else
                  span.social.fa.fa-envelope-o
                    |   My E-mail
          //- social 1st col end
          .col-sm-4
            ul.list-unstyled
              li
                if thisProfile.facebook
                  a(href='https://www.facebook.com/#{thisProfile.facebook}')
                    span.social.fa.fa-facebook
                    | Facebook
                else
                  span.social.fa.fa-facebook
                    |   Facebook
              |                             
              li
                if thisProfile.twitter
                  a(href='')
                    span.social.fa.fa-twitter
                    | Twitter
                else
                  span.social.fa.fa-twitter
                    |   Twitter

              |                             
              
          //- social 2nd col end
          .col-sm-4
            ul.list-unstyled
              li
                if thisProfile.linkedin
                  a(href='')
                    span.social.fa.fa-linkedin
                    | Linkedin   
                else
                  span.social.fa.fa-linkedin
                    |   Linkedin 

              li
                if thisProfile.instagram
                  a(href='')
                    span.social.fa.fa-instagram
                    | Instagram
                else
                  span.social.fa.fa-instagram
                    |   Instagram
    p
    hr
    p       

    .col-md-10.mainleft
      .row.mobmid
        .col-sm-1
          span.secicon.fa.fa-list-ol(style='color:#f7a61b')
        //- icon end
        .col-sm-11
          h3 How would you describe your self in three words? 
          |                     
          p #{thisProfile.selfThreeWords1}
          p #{thisProfile.selfThreeWords2}
          p #{thisProfile.selfThreeWords3}
        //- info end
      //- personal statement end
      hr  
      .row.mobmid
        .col-sm-1
          span.secicon.fa.fa-plane(style='color:#7cbf42')
        //- icon end
        .col-sm-11
          h3 Name three interests outside of school and work 
          |                     
          p #{thisProfile.threeInterests1}
          p #{thisProfile.threeInterests2}
          p #{thisProfile.threeInterests3}     
      hr  
      .row.mobmid
        .col-sm-1
          span.secicon.fa.fa-check-square(style='color:#eb4a24')
        //- icon end
        .col-sm-11
          h3 The Six things I can never do without 
          |                     
          p !{thisProfile.sixThings}
          p    
      hr  
      .row.mobmid
        .col-sm-1
          span.secicon.fa.fa-rocket(style='color:#34a8c8')
        //- icon end
        .col-sm-11
          h3 What are your three key skill sets?
          |                     
          p #{thisProfile.threeKeySkill1}
          p #{thisProfile.threeKeySkill2}
          p #{thisProfile.threeKeySkill3}
      hr  
      .row.mobmid
        .col-sm-1
          span.secicon.fa.fa-thumbs-up(style='color:#30a443')
        //- icon end
        .col-sm-11
          h3 Best piece of advice ever received 
          |                     
          p !{thisProfile.bestAdvice}
          p    
      hr  
      .row.mobmid
        .col-sm-1
          span.secicon.fa.fa-book(style='color:#948077')
        //- icon end
        .col-sm-11
          h3 One book you would recommend to others
          |                     
          p !{thisProfile.oneBook}
          p    
      hr  
      .row.mobmid
        .col-sm-1
          span.secicon.fa.fa-map-marker(style='color:#f6cd4c')
        //- icon end
        .col-sm-11
          h3 Where is your favorite place to hang out in Taiwan? 
          |                     
          p !{thisProfile.favoritePlace}
          p      
      hr  
      .row.mobmid
        .col-sm-1
          span.secicon.fa.fa-user(style='color:#40b0f9')
        //- icon end
        .col-sm-11
          h3 My self-summary: 
          |                     
          p !{thisProfile.statement}
          p      